
#form-alt{
  margin: auto;
  left:37%;
  top:25%;
  width:520px;
  height:520px;
  background-color: firebrick;
  color: aliceblue;
  border-radius: 10px;
}

#field-alt{
  height: 470px;
  width: 450px;
}

#form-alt #formu-alt
{
  margin-left: 23px;
  margin-top: 10px;
  position:absolute;
  display:block;
  text-align: center;
}

#formu-alt label{
  position:absolute;
  left:19px;
  margin-right:5px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

#formu-alt input.camp_nome{
  position:absolute;
  left:95px;
  top:23px;
  width:200px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}
#formu-alt input.camp_cpf{
  position:absolute;
  left:95px;
  top:100px;
  width:200px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}
#formu-alt input.camp_dt_nasc{
  position:absolute;
  left:220px;
  top:170px;
  width:200px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}
#alt_senha{
  position:absolute;
  left:19px;
  margin-right:5px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}
.camp_senha_antiga{
  position:absolute;
  left:25px;
  top:320px;
  width:170px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}
.camp_nova_senha{
  position:absolute;
  left:25px;
  top:370px;
  width:170px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.camp_conf_nova_senha{
  position:absolute;
  left:250px;
  top:370px;
  width:170px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}


#formu-alt input.btn_alt{
  margin-top: 170px;
  color: firebrick;
  border-style: solid;
  width: 100px;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}

