header{
  background-color: firebrick;
}

p{
  padding: 10px;
  color: aliceblue;
}

h1{
  padding: 10px;
  text-align: center;
  color: aliceblue;
}

#area
{
  position:relative;
  left:37%;
  top:29%;
  width:320px;
  height:270px;
}
#area #formulario
{
  position:absolute;
  display:block;
  text-align: center;
}
fieldset
{
  width:300px;
  height:250px;
}
legend{
  font-style:bold;
  font-family: "Segoe UI";
  text-align: left;
}

#formulario label{
  position:absolute;
  left:19px;
  margin-right:5px;
}
#formulario input.campo_nome{
  position:absolute;
  left:95px;
  top:23px;
  width:225px;
}
#formulario input.campo_senha{
  position:absolute;
  left:95px;
  margin-top:2px;
  width:225px;
}

#formulario input.btn_submit
{
  color: white;
  border-style: solid;
  width: 50px;
  background-color: firebrick;
}
