.ais{
  text-align: center;
  margin-top: 100px;
}

#btn-direcao{
  margin-top: 20px;
  position: absolute;
  width: 150px;
  height: 90px;
  margin-left: -400px;
  margin-right: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: aliceblue;
  color: firebrick;
}

#btn-docente{
  margin-top: 20px;
  position: absolute;
  width: 150px;
  height: 90px;
  margin-left: -200px;
  margin-right: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: firebrick;
  color: aliceblue;
}

#btn-aluno{
  margin-top: 20px;
  position: absolute;
  width: 150px;
  height: 90px;
  margin-right: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: aliceblue;
  color: firebrick;
}

#btn-disciplina{
  margin-top: 20px;
  position: absolute;
  width: 150px;
  height: 90px;
  margin-left: 200px;
  margin-right: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: firebrick;
  color: aliceblue;
}

#btn-turma{
  width: 150px;
  height: 90px;
  margin-left: -100px;
  margin-top: 140px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: firebrick;
  color: aliceblue;
}


