a.opcoes{
  color: aliceblue;
}

.tabela-disc{
  text-align: center;
  width: 290px;
  margin: auto;
  margin-top: 70px;
  background-color: firebrick;
  color: aliceblue;
}

#form-alt-disc{
  margin: auto;
  left:37%;
  top:25%;
  width:520px;
  height:300px;
  background-color: firebrick;
  color: aliceblue;
  border-radius: 10px;
}

#field-alt-disc{
  height: 250px;
  width: 450px;
}

#form-alt-disc #formu-alt-disc
{
  margin-left: 23px;
  margin-top: 10px;
  position:absolute;
  display:block;
  text-align: center;
}

#formu-alt-disc label{
  position:absolute;
  left:19px;
  margin-right:5px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

#formu-alt-disc input.camp_nome_disc{
  position:absolute;
  left:95px;
  top:23px;
  width:200px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

#formu-alt-disc input.camp_dt_criacao{
  position:absolute;
  left:190px;
  top:95px;
  width:200px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

#formu-alt-disc input.btn_disc{
  margin-top: 30px;
  color: firebrick;
  border-style: solid;
  width: 100px;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}