<div id="form-area">
    <form id="form" autocomplete="off" action="addDocente" method="POST">
      <fieldset id="field">
        <legend>Novo Docente</legend>

        <label>Nome</label><input class="campo_nome" type="text" name="nome" placeholder="Ex: João da Silva" required><br><br>

        <br><br><label>CPF</label><input class="campo_cpf" type="text" name="cpf" placeholder="Ex: 12345678901" required><br><br>

        <br><br><label>Data de Nascimento</label><input class="campo_dt_nasc" type="date" name="dt_nasc" required><br><br>

        <br><br><label>Email</label><input class="campo_email" type="text" name="email" placeholder="Ex: fulanodetal@gmail.com" required><br><br>

        <a href=""><input class="btn_addDocente" type="submit" value="Adicionar"></a>
      </fieldset>
    </form>
  </div>