<div id="area">
    <form id="formulario" autocomplete="off" action="/auth" method="POST">
      <fieldset>
        <legend>Login</legend>

        <label>Usuário</label><input class="campo_nome" type="text" name="usuario" placeholder="CPF" required><br><br>

        <br><br><label>Senha</label><input class="campo_senha" type="password" name="senha" placeholder="Senha" required><br><br>

        <a class="pVez" href="">Primeira vez aqui?</a><br><br>
        <a class="eSenha" href="">Esqueceu sua senha?</a><br>

        <input class="btn_submit" type="submit" value="Entrar">
      </fieldset>
    </form>
  </div>