<div>
  <button id="btn-direcao" type="submit">Direção</button>
  <button id="btn-docente" type=" submit">Docente</button>
  <button id="btn-aluno" type="submit">Aluno(a)</button>
  <button id="btn-disciplina" type="submit">Disciplina</button><br>
  <button id="btn-turma" type="submit">Turma</button>
</div>