<div class="ais">
  <a href="direcao"><button id="btn-direcao" type="submit">Direção</button></a>
  <a href="login"><button id="btn-docente" type=" submit">Docente</button></a>
  <a href="login"><button id="btn-aluno" type="submit">Aluno(a)</button></a>
  <a href="login"><button id="btn-disciplina" type="submit">Disciplina</button></a><br>
  <a href="login"><button id="btn-turma" type="submit">Turma</button></a>
</div>