<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../modalDocentes.css">
  <link rel="stylesheet" href="../login.css">
  <link rel="stylesheet" href="../telaInicial.css">
  <link rel="stylesheet" href="../telaDirecao.css">
  <link rel="stylesheet" href="../formularioDirecao.css">
  <link rel="stylesheet" href="../formularioAlterar.css">
  <link rel="stylesheet" href="../formularioDocente.css">
  <link rel="stylesheet" href="../formularioDisciplina.css">
  <link rel="stylesheet" href="../telaDisciplina.css">
  <link rel="stylesheet" href="../formularioTurma.css">

  <title>{{title}}</title>
</head>
<body>
  <header>
    <p>Edu Station</p>
    <a id="linkHome" href="../home"><h1>Direção Workstation</h1></a>
  </header>
  {{{body}}}

</body>
</html>