<h2>Direção</h2>

<div class="div-pesquisa"> 
  <label id="lbl-pesquisa" for="pesquisa">Digite o nome</label>
  <input id="campo-pesquisa" type="text" name="pesquisa">
  <a href="procurar"><button id="btn-pesquisa" name="btn-pesquisa" type="submit">Pesquisar</button></a>
</div>

<a id="novoDiretor" href="novoDirecao">Novo Diretor</a>
<div class="tabela">
  <table border="1">
    <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Data de Nascimento</th>
        <th>Opções</th>
    </tr>
    {{#each direcao}}
      <tr>
        <td>{{dataValues.nome}}</td>
        <td>{{dataValues.cpf}}</td>
        <td> {{#formatDate dataValues.dt_nasc}}{{/formatDate}} </td>
        <td><a class="opcoes" href="alterar{{dataValues.id}}">Alterar</a> <a class="opcoes" href="deletarDirecao/{{dataValues.id}}">Excluir</a></td>
      </tr>
    {{/each}}
</table>
</div>